<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENT YOUR CAR</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>MODEL</th>
                <th>RATE/DAY</th>
                <th>no of seats</th>
                <th>OCCUPIED OR NOT</th>
            </tr>
        </thead>
            {% for car in cars %}
            <tr>
                <td>{{ car.model }}</td>
                <td>{{ car.rate }}</td>
                <td>{{ car.nos }}</td>
                <td>{{ car.occup }}</td>
            </tr>
            {% endfor %}
        
    </table>
<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit">CHOOSE CAR</button>

</form>
<P><A href='/account'>go to account</A></P>
</body>
</html>